<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.feiji.dao.FlightDao">
    <select id="conditionSelectFlight" parameterType="int" resultType="Flight">
        select
        id, flightNo, departureCity, departureTime, arrivalCity, arrivalTime
        from
        feixinguanli.flight
         where
         departureCity = #{startid}
         and
         arrivalCity =#{arriveid}
    </select>
</mapper>